.UserSign_Up_In {
  max-width: 425px;
  margin: 0 auto;
}

.PageTitle {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}

.Credentials {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.Credentials-field {
  margin-bottom: 20px;
  padding: 6px;
  border-radius: 4px;
  width: 225px;
  border: 1px solid #bfb8cc;
}

.Credentials-submit {
  background-color: #48bb78;
  border-radius: 4px;
  border-color: transparent;
  color: white;
  font-size: 16px;
  margin: 0px 100px;
}

.UserDetails {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  height: 30px;
  border-radius: 4px;
}

.LoggedUser {
  margin-left: 10px;
  font-size: 14px;
}

.SignOut-link {
  margin-left: 280px;
  font-size: 14px;
}

.ErrorMessage {
  margin-bottom: 10px;
  line-height: 1.2;
  font-size: 16px;
  color: red;
}
